**/.DS_Store
__pycache__/
*.pyc
/*.egg-info
.idea/
*.swp
*.wsn
*.swo
.scannerwork/
.vscode/
htmlcov/
sonar-project.properties
.coverage*
docs/rst
docs/sphinx
dist/
rlcard/games/doudizhu/jsondata/
rlcard/agents/gin_rummy_human_agent/gui_cards/cards_png
experiments/wizard_most_simple_nfsp_result/fig.png
experiments/wizard_most_simple_nfsp_result/log.txt
experiments/wizard_most_simple_nfsp_result/model.pth
experiments/wizard_most_simple_nfsp_result/model_opponent.pth
experiments/wizard_most_simple_nfsp_result/performance.csv
experiments/wizard_most_simple_nfsp_result/trick_prediction_results/tp01.pickle
experiments/wizard_ms_trickpreds_result_dqn/fig.png
experiments/wizard_ms_trickpreds_result_dqn/log.txt
experiments/wizard_ms_trickpreds_result_dqn/model.pth
experiments/wizard_ms_trickpreds_result_dqn/performance.csv
experiments/wizard_ms_trickpreds_result_nfsp/00_log_100K.txt
experiments/wizard_ms_trickpreds_result_nfsp/01_log_250K.txt
experiments/wizard_ms_trickpreds_result_nfsp/02_log_400K.txt
experiments/wizard_ms_trickpreds_result_nfsp/03_log_450K.txt
experiments/wizard_ms_trickpreds_result_nfsp/04_log_500K.txt
experiments/wizard_ms_trickpreds_result_nfsp/complete_log.txt
experiments/wizard_ms_trickpreds_result_nfsp/fig.png
experiments/wizard_ms_trickpreds_result_nfsp/model copy.pth
experiments/wizard_ms_trickpreds_result_nfsp/model.pth
experiments/wizard_ms_trickpreds_result_nfsp/model_opponent copy.pth
experiments/wizard_ms_trickpreds_result_nfsp/model_opponent.pth
experiments/wizard_ms_trickpreds_result_nfsp/performance.csv
experiments/wizard_nfsp_result/00_log_250K.txt
experiments/wizard_nfsp_result/01_log_500K.txt
experiments/wizard_nfsp_result/complete_log.txt
experiments/wizard_nfsp_result/fig.png
experiments/wizard_nfsp_result/model.pth
experiments/wizard_nfsp_result/model_opponent.pth
experiments/wizard_nfsp_result/performance.csv
experiments/wizard_nfsp_result/trick_prediction_results/tp01.pickle
experiments/wizard_s_trickpreds_result_nfsp/00_log_50K.txt
experiments/wizard_s_trickpreds_result_nfsp/01_log_300K.txt
experiments/wizard_s_trickpreds_result_nfsp/03_log_400K.txt
experiments/wizard_s_trickpreds_result_nfsp/04_log650.txt
experiments/wizard_s_trickpreds_result_nfsp/05_log_900K.txt
experiments/wizard_s_trickpreds_result_nfsp/06_log_1150K.txt
experiments/wizard_s_trickpreds_result_nfsp/07_log_1400K.txt
experiments/wizard_s_trickpreds_result_nfsp/complete_log.txt
experiments/wizard_s_trickpreds_result_nfsp/fig.png
experiments/wizard_s_trickpreds_result_nfsp/log.txt
experiments/wizard_s_trickpreds_result_nfsp/model copy 2.pth
experiments/wizard_s_trickpreds_result_nfsp/model.pth
experiments/wizard_s_trickpreds_result_nfsp/model_opponent.pth
experiments/wizard_s_trickpreds_result_nfsp/performance.csv
experiments/wizard_simple_nfsp_result/complete_log.txt
experiments/wizard_simple_nfsp_result/fig.png
experiments/wizard_simple_nfsp_result/model.pth
experiments/wizard_simple_nfsp_result/performance.csv
experiments/wizard_simple_nfsp_result/trick_prediction_results/tp01.pickle
experiments/wizard_simple_nfsp_result/trick_prediction_results/tp02.pickle
experiments/wizard_s_trickpreds_result_nfsp/model copy.pth
